[core]
	editor = $EDITOR
	excludesfile = ~/.gitignore

[include]
	path = ~/.gitconfig.local

[color]
	branch       = auto
	decorate     = auto
	diff         = auto
	grep         = auto
	interactive  = auto
	# pager        = auto
	showbranch   = auto
	status       = auto
	ui           = auto

[push]
	default = simple
	followTags = true
[pull]
	ff = only

[ghq]
	root = ~/src

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[alias]
	cm  = commit --verbose
	cmm = commit --verbose --message

	co  = checkout
	com = checkout master

	ba  = branch -a

	fap = fetch --all --prune

	s   = status --short --branch
	st  = status

	sb  = show-branch
	d   = diff

[github]
	user = picosushi

[diff]
  tool = meld
[difftool "meld"]
  cmd = meld $LOCAL $REMOTE
[merge]
  tool = meld
[mergetool "meld"]
	cmd = meld $LOCAL $BASE $REMOTE --auto-merge --output "$MERGED"
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
